body {
  background-color: #66bfbf;
}

hr {
  background-color: #999966;
  border-style: dashed;
  border-width: 1px;
  height: 0px;
  width: 30%;
}

h1 {
  color: #090909;
}

h3 {
  color: 0b0b0b;
}

img {
  border-style: inset;
  border-color: #000000;
}
